<footer>
    <div class="footer-wrapper">
        <p>© SchoolTalk 2017</p>
        <div>
            <a href="/privacy">Privacy policy</a>
            <a href="/about">About us</a>
            <a href="/faqs">Faq's</a>
            <a href="/contact">Contact us</a>
            <a href="/prototype">Original prototype site</a>
        </div>
    </div>
</footer>