<footer class="footer">
    <div class="container">
     <div class="row">
        <div class="col-md-6">
            <p>© SchoolTalk 2017</p>
        </div>
        <div class="col-md-6">
            <ul class="bottom_ul">
                <li><a href="/privacy">Privacy policy</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/faqs">Faq's</a></li>
                <li><a href="/contact">Contact us</a></li>
            </ul>
        </div>
        </div>
    </div>
</footer>