<div class="container">


    <div class="row">
        <div class="col">
            <img class="thumbnail-image" src="/images/parents-smaller.jpg">
        </div>

        <div class="col">

            <h1>About SchoolTalk</h1>
            <p>
                SchoolTalk.org® is a free to use non-profit dedicated to helping parents and children to talk together about their school work.
            </p>
            <ul>
                <li><a href="/parents">For parents</a></li>
                <li><a href="/teachers">For teachers</a></li>
            </ul>

        </div>

    </div>

</div>