<div class="container">
    <h1>Contacting SchoolTalk</h1>

    <p>Send us a message using the form below.</p>


    <form>
        <div>
            <label for="inputEmail">Your email address</label>
            <input type="email" placeholder="name@example.com" class="form-control" id="inputEmail">
        </div>
        <div>
            <label for="inputSubject">Subject</label>
            <input type="email" placeholder="name@example.com" class="form-control" id="inputSubject">
        </div>
        <div>
            <label for="inputMessage">Message</label>
            <textarea class="form-control" id="inputMessage" rows="3"></textarea>
        </div>
        <div>
            <button type="button" class="btn btn-primary">Send</button>
        </div>
    </form>

</div>
