<div class="container">

    <div class="image-text cf">
        <div class="image-text__image-wrapper">
            <img class="image-text__image-wrapper__image" src="/images/parents-smaller.jpg">
        </div>
        <div class="image-text__text">
            <h1>Frequently asked questions</h1>
        </div>
    </div>


        <div>

            <h2>For parents:</h2>

            <ul>

                <li>I signed up but I'm not receiving any questions.</li>

                <li>How do I provide feedback on how to improve SchoolTalk?</li>

                <li>How do I stop receiving questions?</li>

                <li>What sorts of questions will I receive?</li>

                <li>What if I don't know anything about the subject?</li>

                <li>Do I have to do this?</li>

                <p>No! This is entirely your choice. The school and teachers will not know who has subscribed or who is taking part.
                    SchoolTalk wants to help you by giving you information, not tell you what to do.</p>
            </ul>

            <h2>For teachers:</h2>

            <ul>

                <li>How can I use SchoolTalk in my school?</li>

            </ul>

        </div>
</div>
