<div class="container">

    <div class="jumbotron jumbotron-fluid" style="background-position: 50% 30%; background-image: url(/images/banner.png);">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a class="btn btn-warning btn-lg" href="/parents" role="button">Parents - start talking to your children</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a class="btn btn-outline-info btn-lg" href="/teachers" role="button">Teachers - how to use School Talk at your school</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card-group">
            <div class="card">
                <a href="/parents">
                    <img class="card-img-top" src="images/parents.jpg" alt="Parents">
                </a>
                <div class="card-body">
                    <h4 class="card-title">Parents</h4>
                    <div class="card-text">
                        <a href="/parents">SchoolTalk for parents</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <a href="/teachers">
                    <img class="card-img-top" src="/images/teachers.png" alt="Teachers">
                </a>
                <div class="card-body">
                    <h4 class="card-title">Teachers</h4>
                    <div class="card-text">
                        <a href="/teachers">SchoolTalk for teachers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
