<div class="container">
    <div class="desktop-banner">
        <div class="desktop-banner__control">
            <a class="desktop-banner__control__button btn btn-warning btn-lg" href="/parents">Parents - start talking to your children</a>
        </div>
        <div class="desktop-banner__control">
            <a class="desktop-banner__control__button btn btn-outline-info btn-lg" href="/teachers">Teachers - sign up to use SchoolTalk</a>
        </div>
    </div>
    <div class="card-group cf">
        <div class="card">
            <a href="/parents">
                <img class="card__image" src="images/parents.jpg" alt="Parents">
            </a>
            <div class="card__body">
                <h4 class="card__title">Parents</h4>
                <div class="card__text">
                    <ul>
                        <li><a href="/parents">SchoolTalk for parents</a></li>
                        <li><a href="/parents/schools">Get started</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <a href="/teachers">
                <img class="card__image" src="/images/teachers.png" alt="Teachers">
            </a>
            <div class="card__body">
                <h4 class="card__title">Teachers</h4>
                <div class="card__text">
                    <ul>
                        <li><a href="/teachers">SchoolTalk for teachers</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
