<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico">

    <title>SchoolTalk</title>
    <meta name="description" content="description of your website, make sure you use keywords!">
    <meta property="og:title" content="short title of your website" />
    <meta property="og:url" content="http://www.schooltalk.org.uk/" />
    <meta property="og:description" content="description of your website">
    <meta property="og:image" content="/images/banner.png">
    <meta property="og:locale" content="en_GB" />

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/appstyle.css" rel="stylesheet">
</head>

<body>

<!-- Fixed navbar -->
{{> navbar}}

<!-- page content -->
{{{body}}}


<!-- Footer -->
{{> footer}}


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-slim.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery-slim.min.js"><\/script>')</script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
        