<div class="container">
    {{#schoolClass}}
        <h2>You have subscribed to receive questions and hints for {{name}}</h2>
    {{/schoolClass}}
    <a class="btn btn-primary ml-2" href="/">Done</a>
</div>
