<div class="container">

    <div class="row">
        <div class="col">
            <img class="thumbnail-image" src="/images/parents-smaller.jpg">
        </div>

        <div class="col">


            <h1>Welcome parents</h1>
            <p>
            <ul style="list-style-type: none; padding: 0; margin: 0">
                <li>"What did you do at school today?"</li>
                <li>"Nothing."</li>
            </ul>
            </p>

            <p>Sound familiar?</p>
            <p>You need SchoolTalk!</p>
        </div>

    </div>




    <div class="row">
        <div class="col">
            <h2>What is SchoolTalk?</h2>

            <p>As parents, that's a conversation we've all had with our child
                at one time or another.  We want to understand more about what they're learning,
                to play an active part in their education.  We want to be able to engage with
                them about their school work, to help support and motivate them.
                But it’s not that easy.  It's hard to know how to do that, how to encourage
                them to share their education with you.</p>

            <p>That's where SchoolTalk comes in.</p>

            <p>It's a really simple,
                free service that lets your child's teacher send you questions you can ask
                your child about their schoolwork.  They can also give you some keywords
                to look out for in your conversation, some hints to help your conversation
                along, and even some web links for you to find out more about the subject
                yourself.  Our vision is for every parent to be able to have regular,
                rewarding conversations with their child about their education.  We think
                this is a great place to start.</p>

            <p>We are currently in a limited trial phase with selected schools.</p>


            <p><a class="btn btn-primary ml-2" href="/parents/schools">Get started</a></p>

            <h2>How does it work?</h2>

            <p>Once your child's school has signed up to SchoolTalk, their teacher
                will be able to send short questions to you by email or text message.
                To get started:</p>

            <ul>
                <li>find your child's school</li>
                <li>select their year group or class</li>
                <li>simply enter your email address or mobile number to start receiving questions.</li>
            </ul>

            <h2>What about privacy?</h2>

            <p>SchoolTalk values the privacy of parents and children above all else.</p>

            <p>To use SchoolTalk.org.uk, schools, teachers and parents aren't required to enter any
                child's details. That means we don't collect or store any information about your child,
                or anyone else's.

            <p>The questions you'll be sent are for a particular class or year group,
                they're not specific to your child.  Only questions provided by the school's
                teachers can be sent to parents.
            </p>

            <p>You can find more information in our <A href="/privacy">privacy policy.</a></p>

            <hr>

        </div>
    </div>

</div>
