<div class="container cf">
    <h1>Please select your child's class/group</h1>

    <div class="square-list">
        {{#each classes}}
        <div class="square">
            <h2 class="square__heading">{{name}}</h2>
            <p class="square__body">{{description}}</p>
            <div class="square__link">
                <a href="/parents/schools/{{schoolId}}/classes/{{classId}}/subscribe">Subscribe</a>
            </div>
        </div>
        {{/each}}
    </div>

</div>