<div class="container">
    {{#schoolClass}}
    <h1>Subscribe to {{name}}</h1>

    <p>Enter your details to receive SchoolTalk questions and hints for this class. </p>

    <div>
        <form action="/parents/schools/{{schoolId}}/classes/{{classId}}/subscribe" method="POST">
            <label for="inputEmail">Your email address</label>
            <input size="50" type="email" placeholder="enter email" id="inputEmail" class="form-control">

            <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>
    </div>
    {{/schoolClass}}
</div>
