<div class="container">

    <div class="row">
        <div class="col">
            <h2 class="mt-0">Enter your email address and we'll send you a new password</h2>
        </div>
    </div>

    <div class="card">
        <div class="card-body bg-form">
            <form method="POST" action="/teachers/signin/forgotten-password">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

</div>