
<div class="container">

    <div class="row">
        <div class="col">
            <img class="thumbnail-image" src="/images/parents-smaller.jpg">
        </div>

        <div class="col">

            <h1>Welcome teachers</h1>

            <p>SchoolTalk.org® is a free to use non-profit organisation dedicated to helping parents and children to talk together about their school work.
            </p>

            <p>We are currently in a limited trial phase with selected <a href="/parents/schools">schools.</a></p>

            <p>If you would like to be part of that trial and help us make SchoolTalk better please <a href="/contact">contact us</a></p>

        </div>
    </div>


    <div class="row">
        <div class="col">
            <h2>How it works</h2>

            <p>We believe parents want to engage with their children about their school work but it isn't always easy for busy parents.</p>

            <p>SchoolTalk.org is a simple service to let you, the child's teacher, send short questions to subscribed parents to help them
                start a rewarding and engaging conversation with their child about the things they've been learning about at school.</p>

            <p>Send one question a day, or one a week, it's up to you.<p>

            <p>Start by creating a section for each class or year group.
                Then simply send questions to all parents subscribed to that group.</p>
        </div>
    </div>



