<div class="container">

    <p>Unsubscribe</p>

    <div>
        <form action="/parents/unsubscribe" method="POST">
            <label for="inputEmail">Your email address</label>
            <input size="50" type="email" placeholder="enter email" id="inputEmail" class="form-control">

            <button type="submit" class="btn btn-primary">Unsubscribe</button>
        </form>
    </div>
</div>
