/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    background-color: #dee0e2;
    overflow-x: hidden;
    overflow-y: auto;
}
body {
    margin-bottom: 60px;
    overflow-x: hidden;
    overflow-y: auto;
}

.bg-navbar {
    /* background-color: #539987 !important; */
}

.bg-form {
    background-color: #8aea92;
}

/* Custom page CSS
-------------------------------------------------- */

code {
    font-size: 80%;
}

input:focus,
a:focus {
    background-color: #ffbf47;
    outline: 3px solid #ffbf47;
}

h1 {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 15px;
}

h2 {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 15px;
    margin-top: 30px;
}

h3 {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 15px;
    margin-top: 30px;
}

ul {
    font-size: 16px;
}

p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
    color:#757575;
}

@media (min-width: 576px) {
    h1 {
        font-size: 40px;
        line-height: 42px;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 28px;
        line-height: 30px;
    }

    h3 {
        font-size: 19px;
        line-height: 25px;
    }

    p {
        font-size: 19px;
        line-height: 25px;
        margin-bottom: 15px;
    }

    ul {
        font-size: 19px;
    }
}

h2.section-heading {
    border-bottom: 1px solid #dedede;
    padding-bottom: 15px;
    margin-top: 0;
}

h2.list-section-heading {
    padding-bottom: 0;
    margin-top: 0;
    font-size: 19px;
    margin-bottom: 5px;
}

/**
* Desktop banner
**/

.desktop-banner {
    display: none;
    background: 50% 30% url(/images/banner.png);
    padding: 60px 30px;
    margin-bottom: 15px;
}

.desktop-banner__control {
    text-align: center;
    padding:5px 0;
}

.desktop-banner__control__button {
    display:inline-block;
    cursor: pointer;
}

@media (min-width: 960px) {
    .desktop-banner {
        display: block;
    }
}

/**
* Card component
**/

.card {
    word-wrap: break-word;
    width: 100%;
    margin-bottom: 20px;
}

.card ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.card__image {
    width: 100%;
    margin-bottom:10px;
    border-radius: 25px;
}

@media (min-width: 576px) {
    .card {
        width: 48%;
        display: inline-block;
        float: left;
        margin-right:2%;
    }

    .card:nth-child(2) {
        margin-right:0;
        margin-left:2%;
    }
}

/**
* Image with text
**/
.image-text {
    position: relative;
}

.image-text__text {
    max-width: 30em;
}

.image-text__image-wrapper {
    margin-bottom:30px;
}

.image-text__image-wrapper__image {
    width: 100%;
    max-width: 300px;
}

@media (min-width: 576px) {
    .image-text__text {
        float:left;
    }

    .image-text__image-wrapper {
        float:left;
        margin-right: 15px;
    }
}

/**
 square list
**/

.square {
    padding: 15px;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.5);
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    margin-bottom: 15px;
    border-radius: 25px;
}

.square__heading {
    margin-top:0;
}

.square__link {
    text-align: right;
    display: block;
}

@media (min-width: 576px) {
    .square {
        width: 46%;
        float:left;
        margin-left: 2%;
        margin-right: 2%;
        padding: 15px 30px;
    }
}

@media (min-width: 992px) {
    .square {
        width: 100%;
        float:none;
        margin: 0 0 30px 0;
        padding: 0 0 15px 0;
        border-bottom: 1px solid rgba(0,0,0,0.5);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        max-width: 760px;
    }

    .square__link {
        float: right;
        bottom: 20px;
        position: relative;
        right: 15px;
    }

    .square__body {
        margin:0;
    }
}

/**
* Main content container
**/

.container {
    background-color: #fff;
    padding-top: 75px;
    padding-bottom: 30px;
}

/**
* Main content container
**/
footer {
    width:100%;
    background-color: #dee0e2;
}

.footer-wrapper {
    padding: 15px;
    clear: both;
    margin-right: auto;
    margin-left: auto;
}

footer a {
    margin-right: 10px;
    color: #454a4c;
}

footer a:hover {
    color: #171819;
}

@media (min-width: 576px) {
    .footer-wrapper {
        max-width: 510px;
        padding: 15px 0;
    }

    .container {
        padding-right: 0;
        padding-left: 0;
        max-width: 510px;
    }
}

@media (min-width: 768px) {
    .container,
    .footer-wrapper {
        max-width: 690px;
    }
}

@media (min-width: 992px) {
    .container,
    .footer-wrapper {
        max-width: 930px;
    }
}

@media (min-width: 1200px) {
    .container,
    .footer-wrapper {
        max-width: 1140px;
    }
}

/** clear fix - temporary until convert stuff into scss **/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.form-control {
    width: 100%;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .form-control {
        width: 50%;
    }
}

/* small fix for nav until I tear it apart */
.nav-link {
    font-size: 16px;
}

/**
* Image component
**/
.image-list__item {
    width: 100%;
    padding: 5px;
    max-width:250px;
    margin: 0 auto 15px auto;
    text-align: center;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.5);
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.image-list__item a {
    color: #212529;
}

.image-list__item a:hover {
    color: #212529;
}

.image-list__item__header {
    font-size: 19px;
    margin: 0;
    padding: 3px 0;
}

.image-list__item__image {
    text-align: center;
    width: 100%;
    height:auto;
    max-width:250px;
}

@media (min-width: 576px) {
    .image-list__item {
        width: 50%;
        float:left;
        margin: 15px 15px 0 0;
    }
}

@media (min-width: 768px) {
    .image-list__item {
        width: 33%;
    }
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

section {
    margin-bottom: 45px;
}

.classes-list {
    padding: 0;
    list-style: none;
    margin: 0;
}

.privacy-policy-list__nav-link {
    font-size: 14px;
}

.privacy-policy-list,
.faqs-list {
    padding: 0;
    list-style: none;
    margin-bottom:30px;
}

.faqs-list__nav-link {
    font-size: 14px;
}

.scroll-back-top {
    font-size: 14px;
}

aside {
    margin-bottom: 30px;
}

.scroll-back-top--desktop {
    display: none;
}

@media (min-width: 768px) {

    .scroll-back-top {
        display: none;
    }

    .scroll-back-top--desktop {
        display: block;
    }

    aside {
        float:left;
        width:25%;
    }

    .content-with-aside {
        float:left;
        width:75%;
        padding-left: 30px;
    }
}
